/* ===== Google Font Import - Poppins ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

section {
  position: relative;
  height: 500px;
  max-width: 1075px;
  width: 90%;
  display: flex;
  align-items: center;
  /* background: red; */
}

/* .swiper {
  width: 950px;
} */

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.card::before {
  content: "";
  position: absolute;
  height: 30%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .media-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  color: #fff;
  margin-top: 10px;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
  text-align: center;
  min-height: 100px;
  justify-content: center;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.card .stats {
  display: flex;
  align-items: center;
  margin-top: 18px;
  width: 100%;
  justify-content: space-around;
}

.card .stat-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .stat-category span {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.card .stat-category .green{
  color: rgb(0, 200, 0);
}

.card .stat-category .red{
  color: red;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

.card .button button {
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover {
  background: #6616d0;
}

.swiper-pagination-bullet {
  height: 7px !important;
  width: 26px !important;
  border-radius: 25px !important;
  background: #7d2ae8 !important;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7 !important;
  color: #7d2ae8 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1 !important;
}

.mySwiper {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -50px !important;

  }

}
/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction */
/* @media screen and (max-width: 768px) {
  section {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper {
    width: 100%;
  }

  .card {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper {
    width: 100%;
  }

  .card {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  section {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper {
    width: 100%;
  }

  .card {
    width: 80%;
  }
} */
