/* ===== Google Font Import - Poppins ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  position: relative;
}


section {
  position: relative;
  max-height: 500px;
  height: 100%;
  max-width: 1075px;
  width: 90%;
  display: flex;
  align-items: center;
  /* background: red; */
}

section .header {
  position: absolute;
  top: -30px;
  line-height: 1;
  width: 100%;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
section .header-title {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  /* position: absolute; */
  top: -30px;
  line-height: 1;
  /* width: 100%; */
  text-align: center;
  display: flex;
  flex-direction: column;
}
section .header .rank-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  /* column-gap: 20px; */
}
section .header .header-rank {
  display: flex;
  align-items: flex-end;
}

section .header .rank-links li{
  padding: 10px 24px;
  background: #fff;
  border: 3px solid #7d2ae8;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-left: 10px;
  cursor: pointer;
}
section .header .rank-links li:hover{
  background: #7d2ae8;
  color: #fff;
}

section .header .rank-links .change-color{
  background: #7d2ae8;
  color: #fff;
}

section .header-title img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

section .header-title .batch-text {
  display: flex;
  align-items: center;
  /* justify-content: center; */

}

section .header-title .purple {
  color: #7d2ae8;
}

section .header-title .red-wagon {
  color: #E60F05;
}
/* .swiper {
  width: 950px;
} */

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.card::before {
  content: "";
  position: absolute;
  height: 30%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .media-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .rank {
  position:absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .rank img {
  width: 50px;
  height: 50px;
  /* border-radius: 50%;
  border: 3px solid #fff; */
  margin-bottom: 10px;
}

.card .rank span {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
  text-align: center;
  min-height: 100px;
  justify-content: center;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.card .stats {
  display: flex;
  align-items: center;
  margin-top: 18px;
  width: 100%;
  justify-content: space-around;
}

.card .stat-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .stat-category span {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.card .stat-category .green{
  color: rgb(0, 200, 0);
}

.card .stat-category .red{
  color: red;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

.card .button button {
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover {
  background: #6616d0;
}

.swiper-pagination-bullet {
  height: 7px !important;
  width: 26px !important;
  border-radius: 25px !important;
  background: #7d2ae8 !important;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7 !important;
  color: #7d2ae8 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1 !important;
}

.mySwiper {
  width: 100%;
}

@media screen and (max-width: 900px) {
  section .header-title {
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -80px !important;
  }
  section .header-title {
    font-size: 20px;
    top: -30px;
    margin-bottom: 10px;
  }
  section .header-title .batch-text {
    justify-content: center;
  }
  section .header {
    top: -70px;
    flex-direction: column;
    align-items: center;
  }
}

/* ===== rotating cards ===== */

.card .card-content .name-profession.hide,
.card .card-content .stats.hide,
.card .card-content .button.hide {
  display: none;
}

.card .card-content .about-me img {
  height: 210px;
}


.card .card-content .about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 100;
}

.card .card-content .about-me.hide {
  display: none;
}
